<div id="nav-top" class="pager">
  <div class="login-or-reg">

  	<% unless user_signed_in? %>
      <a href="#" role="button" class="sign-up">Register</a>
    		<span style="color:white; padding: 5px">/</span>
      <a href="#" role="button" class="sign-in">Sign in</a>
	  <% else %>
  		<span>Hello: <%= current_user.username %></span>
  		 
      <%= link_to "My Stories", {controller: "users", action: "stories", id: current_user}, class: "inset" %>
      <%= link_to "My Readings", {controller: "users", action: "readings", id: current_user}, class: "inset" %>
  		<%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure to sign out?' } %>
	  <% end %>

   </div>

   <div class="logo">logo</div>
</div>