 
<div id="commentListDiv" >
   
      <div id="nodeChapter">
			   <button type="button" class="close" onclick="" id="closeComment" >&times;</button>
			   <h4 id="chapter">comments</h4>
			    
		  </div>
        
       
			<div id="commentList"></div>

    	<div class="view-line"> </div>
</div>

<div id="commentTemplate">
		<div class="row-fluid text-left">
			<h id="commentContent"></h>
		</div>
		<div class="row-fluid text-right">
			<h   id="commentUserName"></h>
		</div>
</div>
<script>
 $("#commentListDiv").hide();
 $("#commentTemplate").hide();
 
    $(function() {
  });
     
</script>