<div  id="modal-new-story" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" id="closeStory">&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel">Start a story</h4>
      </div>

      <%= form_tag("stories", remote: true, :authenticity_token => true, id: "form-new-story") do %>

      <div class="modal-body text-center">

              <div class="form-group">
                <div class="input-group">
                  <% if @story.nil? %>
                    <%= text_area(:story, :story_content, class: "form-control", rows: 10, cols: 120) %>
                  <% else %>
                    <%= text_area(:story, :story_content, class: "form-control", rows: 10, cols: 120, placeholder: @story.story_content) %>
                  <% end %>
                </div>
              </div>
            
      </div>

      <div class="modal-footer" align="center">
        <div class="form-group">
          <button type="button" id='closeStoryButton' class="btn btn-default text-center" data-dismiss="modal">close</button>
         <%= submit_tag "Submit", class: "btn btn-primary", id: "btn-new-story" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    $(function() {
			 $("#modal-new-story").hide();
			 
			 $("#closeStory").click(function(e){ 
				
				$("#modal-new-story").slideUp('slow');
			
			});
			 $("#closeStoryButton").click(function(e){ 
				
				$("#modal-new-story").slideUp('slow');
			
			});
			
			});
			
</script>