<div class="container-fluid">
    <div class="text-center row-fluid">
      <div class="login-reg-box span12">
         <p class="top-login-reg">Go back to <%= link_to "home", root_path %></p>
         <h2 class="page page-header">Start a new story</h2>
				<%= render 'form' %>
		</div><!--span12--> 
  	</div><!--row fluid-->
</div><!-- container-fluid --> 