 	<div class="row-fluid text-center" id="nodeBottomDiv">  
		   <div id="nav" class="row-fluid text-center">
		      
		      <a href="#"  onclick="return false;">Back</a>
					<span id="nextNodesSpan" ><a href="#" id="nextNodes">Next</a></span>
		    </div>
       <div id="nav" class="row-fluid text-right">
		      
		     
					<span id="nextNodesSpan" style=""><a href="#" id="nextNodes">Continue the story</a></span>
		    </div>
		   
		    <div id="op-rate" class="row-fluid text-left">
		      <form accept-charset="UTF-8" action="" data-remote="true" id="rate_story_node_" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
		          <button class="btn btn-default" id="btn-rate_27" name="button" type="submit">
		            <span class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle"></span> rate
							</button>
							
					</form>
		    </div>
	</div>
 
<script>
   $(function() {
   
   			
   });
   	$("#nodeBottomDiv").hide();
 

	
</script>